<div class="box_main">
  <ngx-spinner bdColor="rgba(255,255,255,0.8)" size="default" color="#0f06bb" type="timer" [fullScreen]="false">
    <p style="color: white"> Please wait..... </p>
  </ngx-spinner>
  <div class="container" style="margin: 0px 0px !important">
    <div class="col-md-12 bg-card shadow rounded overflow-hidden" style="background-color: white">
      <div class="header_top_btn mb-5">
        <div class="row">
          <div class="col-md-6">
            <h1 class="master-heading-small">Activity Master</h1>
          </div>
          <div class="col-md-6">
            <button class="addbtn" mat-flat-button [color]="'primary'" (click)="open(addnew, '')">
              Add New Activity
            </button>
          </div>
        </div>
      </div>
      <div class="">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>S.Id</th>
              <th>Activity Name</th>
              <th>Activity Type</th>
              <th>Details</th>
              <th>Status</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of activityMasterRecords;let index = index;">
              <td>{{index+1}}</td>
              <td>{{ list.mr_com_name }}</td>
              <td>
                <span *ngIf="list.com_record_type==1">General Activity</span>
                <span *ngIf="list.com_record_type==2">Material Based Activity</span>
              </td>
              <td><span class="desc_line">{{ list.mr_com_desc }}</span></td>
              <td class="delete_icons">
                <mat-icon [svgIcon]="'check_circle'" class="active" *ngIf="list.mr_com_status != 0"
                  (click)="statusModal(delete,0, list.mr_com_id)"></mat-icon>
                <mat-icon [svgIcon]="'highlight_off'" class="inactive" *ngIf="list.mr_com_status === 0"
                  (click)="statusModal(delete,1, list.mr_com_id)"></mat-icon>
              </td>
              <td class="edit_icons">
                <mat-icon [svgIcon]="'picture_in_picture_alt'" (click)="editModal(edit, list)"></mat-icon>
              </td>
            </tr>
          </tbody>
        </table>



        <ng-template #addnew let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add New Activity</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addActivity="ngForm" (ngSubmit)="onAddActivity(addActivity)">
              <div class="row">
                <div class="col-md-6">
                  <mat-label class="custom-label">Activity name</mat-label>
                  <mat-form-field class="flex-auto">
                    <input matInput type="text" [(ngModel)]="activityName" name="activityName" required />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-label class="custom-label">Activity type *</mat-label>
                  <mat-form-field class="flex-auto">
                    <mat-select [(ngModel)]="selectedActivityTypeId" name="selectedActivityTypeId">
                      <mat-option *ngFor="let type of activityType" value="{{type.id}}">{{type.name}}</mat-option>
                    </mat-select>
                    <!-- <mat-icon matPrefix [svgIcon]="'arrow_right_alt'"></mat-icon> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 btn_rows">
                  <a class="add_btn" (click)="addImage()">Add Image</a>
                  <a class="add_btn" (click)="addVdoUrl()">Add Video URL</a>
                  <a class="add_btn" (click)="addAudioUrl()">Add Audio URL</a>
                  <a class="add_btn" (click)="addDescBox()">Add Description</a>
                  <a class="add_btn" (click)="addRows()">Add Rows</a>
                </div>
                <div class="col-md-6 form-group" *ngIf="imageShow===true">
                  <mat-label class="custom-label">Upload Image <span class="remove"
                      (click)="remove('image')">Remove</span></mat-label>
                  <div class="button-wrap">
                    <label class="new-button" for="upload"> Upload Image {{selectedFlag}}</label>
                    <input id="upload" type="file" name="imageurl" (change)="onFileChanged($event)">
                  </div>
                </div>
                <div class="col-md-6" *ngIf="vdoUrlShow===true">
                  <mat-label class="custom-label">Video URL <span class="remove" (click)="remove('video')">Remove</span>
                  </mat-label>
                  <mat-form-field class="flex-auto">
                    <input matInput type="text" [(ngModel)]="videourl" name="videourl" required />
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="audioUrl===true">
                  <mat-label class="custom-label">Upload Audio <span class="remove"
                      (click)="remove('audio')">Remove</span></mat-label>
                  <div class="button-wrap">
                    <label class="new-button" for="upload_audio"> Upload Audio {{selectedAudioFlag}}</label>
                    <input id="upload_audio" type="file" name="audiourl" (change)="onAudioFileChanged($event)">
                  </div>
                </div>
                <div class="col-md-12 form-group" *ngIf="descShow===true">
                  <mat-label class="custom-label">Description <span class="remove"
                      (click)="remove('desc')">Remove</span></mat-label>
                  <textarea class="form-control" [(ngModel)]="description" name="description"></textarea>
                </div>
                <div class="col-md-12" *ngIf="rowShow===true">
                  <mat-label class="custom-label">Other Detail (if any) <span class="remove"
                      (click)="remove('details')">Remove</span></mat-label>
                  <div *ngFor="let rowData of detailsRow; let i = index;">
                    <mat-form-field class="flex-auto">
                      <input matInput type="text" [(ngModel)]="rowData.detail_name"
                        name="detail_name_+{{rowData.detail_id}}" required />
                      <mat-icon matSuffix [svgIcon]="'add_box'" (click)="add(i)" *ngIf="i === 0 && detailsRowLen ===1">
                      </mat-icon>
                      <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                        (click)="deleteRow(rowData,rowData.detail_id)"
                        *ngIf="detailsRowLen > 1 && detailsRowLen != i+1"></mat-icon>
                      <mat-icon matSuffix [svgIcon]="'add_box'" (click)="add(i)"
                        *ngIf="i > 0 && detailsRowLen === i+1 "></mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </ng-template>

        <ng-template #delete let-modal class="delete_modal">
          <div class="modal-header">Do you really want to make changes ?</div>
          <div class="modal-body">

            <button type="button" class="btn btn-danger btn-cancel" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
              Cancel
            </button>
            <button type="button" class="btn btn-primary btn-ok" (click)="onChangeStatus()">
              Ok
            </button>
          </div>
          <div class="modal-footer"></div>
        </ng-template>

        <ng-template #edit let-modal>
          <form #updateActivity="ngForm" (ngSubmit)="onUpdateActivity(updateActivity)">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Update Activity
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <mat-label class="custom-label">Activity name</mat-label>
                  <mat-form-field class="flex-auto">
                    <input matInput type="text" [(ngModel)]="singleActivity.mr_com_name" name="mr_com_name" required />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-label class="custom-label">Activity type *</mat-label>
                  <mat-form-field class="flex-auto">
                    <mat-select [(ngModel)]="singleActivity.com_record_type" name="com_record_type">
                      <mat-option *ngFor="let type of activityType" value="{{type.id}}">{{type.name}}</mat-option>
                    </mat-select>
                    <!-- <mat-icon matPrefix [svgIcon]="'arrow_right_alt'"></mat-icon> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 btn_rows">
                  <a class="add_btn" (click)="upaddImage()">Add Image</a>
                  <a class="add_btn" (click)="upaddVdoUrl()">Add Video URL</a>
                  <a class="add_btn" (click)="upaddAudioUrl()">Add Audio URL</a>
                  <a class="add_btn" (click)="upaddDescBox()">Add Description</a>
                  <a class="add_btn" (click)="upaddRows()">Add Rows</a>
                </div>
                <div class="col-md-6 form-group" *ngIf="upimageShow===true">
                  <div class="imgdiv">
                    <img src="{{url+'image/'+singleActivity.mr_com_image}}" alt="">
                  </div>
                  <mat-label class="custom-label">Upload Image <span class="remove"
                      (click)="upremove('image')">Remove</span></mat-label>
                  <div class="button-wrap">
                    <label class="new-button" for="upload"> Upload CV {{selectedFlag}}</label>
                    <input id="upload" type="file" name="imageurl" (change)="onFileChangedUp($event)">
                  </div>
                </div>

                <div class="col-md-6" *ngIf="upaudioUrl===true">
                  <div class="audiodiv">
                    <audio controls>
                      <source src="{{url+'audio/'+singleActivity.mr_com_audio}}" type="audio/ogg">
                      <source src="{{url+'audio/'+singleActivity.mr_com_audio}}" type="audio/mpeg">
                    </audio>
                  </div>
                  <mat-label class="custom-label">Upload Audio <span class="remove"
                      (click)="upremove('audio')">Remove</span></mat-label>
                  <div class="button-wrap">
                    <label class="new-button" for="upload_audio"> Upload Audio {{selectedAudioFlag}}</label>
                    <input id="upload_audio" type="file" name="audiourl" (change)="onAudioFileChangedUp($event)">
                  </div>
                </div>
                <div class="col-md-6" *ngIf="upvdoUrlShow===true">
                  <mat-label class="custom-label">Video URL <span class="remove"
                      (click)="upremove('video')">Remove</span>
                  </mat-label>
                  <mat-form-field class="flex-auto">
                    <input matInput type="text" [(ngModel)]="singleActivity.mr_com_video" name="mr_com_video"
                      required />
                  </mat-form-field>
                </div>
                <div class="col-md-12 form-group" *ngIf="updescShow===true">
                  <mat-label class="custom-label">Description <span class="remove"
                      (click)="upremove('desc')">Remove</span></mat-label>
                  <textarea class="form-control" [(ngModel)]="singleActivity.mr_com_desc" name="mr_com_desc"></textarea>
                </div>
                <div class="col-md-12" *ngIf="uprowShow===true">
                  <mat-label class="custom-label">Other Detail (if any) <span class="remove"
                      (click)="upremove('details')">Remove</span></mat-label>
                  <div *ngFor="let rowData of detailsRowUpdate; let i = index;">
                    <mat-form-field class="flex-auto">
                      <input matInput type="text" [(ngModel)]="rowData.detail_name"
                        name="detail_name_+{{rowData.detail_id}}" required />
                      <mat-icon matSuffix [svgIcon]="'add_box'" (click)="upadd(i)"
                        *ngIf="i === 0 && detailsRowLenup ===1">
                      </mat-icon>
                      <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                        (click)="updeleteRow(rowData,rowData.detail_id)"
                        *ngIf="detailsRowLenup > 1 && detailsRowLenup != i+1"></mat-icon>
                      <mat-icon matSuffix [svgIcon]="'add_box'" (click)="upadd(i)"
                        *ngIf="i > 0 && detailsRowLenup === i+1 "></mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">
                Update
              </button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>