<div class="box_main">
    <ngx-spinner bdColor="rgba(255,255,255,0.8)" size="default" color="#0f06bb" type="timer" [fullScreen]="false">
        <p style="color: white"> Please wait..... </p>
    </ngx-spinner>
    <div class="container" style="margin: 0px 0px !important;">
        <div class="col-md-12 bg-card shadow rounded overflow-hidden" style="background-color: white;">
            <div class="header_top_btn mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="master-heading-small">Plantation Master</h1>
                    </div>
                    <div class="col-md-6">
                        <button class="addbtn" mat-flat-button [color]="'primary'" (click)="open(addnew)">Add New
                            Plantation</button>
                    </div>
                </div>
            </div>
            <div class="">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>S.Id</th>
                            <th>Plantation Name</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of plantationRecords;let index = index;">
                            <td>{{index+1}}</td>
                            <td>{{ list.plantation_name }}</td>
                            <td class="delete_icons">
                                <mat-icon [svgIcon]="'check_circle'" class="active" *ngIf="list.status != 0"
                                    (click)="statusModal(delete,0, list.plantation_id)"></mat-icon>
                                <mat-icon [svgIcon]="'highlight_off'" class="inactive" *ngIf="list.status === 0"
                                    (click)="statusModal(delete,1, list.plantation_id)"></mat-icon>
                            </td>
                            <td class="edit_icons">
                                <mat-icon [svgIcon]="'picture_in_picture_alt'" (click)="editModal(edit, list)">
                                </mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #addnew let-modal>
                    <div class="modal-header">
                        <div class="row row-inline">
                            <h4 class="modal-title" id="modal-basic-title">Add Plantation Design</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row row-inline">
                            <div class="singlerow">
                                <label [ngClass]="{'lbactive': showformvalue === 1}">Plantation Name </label> > <label
                                    [ngClass]="{'lbactive': showformvalue === 2}"> Bed Preparation</label> > <label
                                    [ngClass]="{'lbactive': showformvalue === 3}"> Crop
                                    Support</label> > <label [ngClass]="{'lbactive': showformvalue === 4}"> Irrigation
                                    Type </label>
                            </div>

                        </div>
                    </div>
                    <div class="modal-body">
                        <form #addActivity="ngForm" (ngSubmit)="onAddActivity(addActivity)">
                            <div class="form-1" *ngIf="showformvalue===1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Please enter plantation design name</mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="plantation_name"
                                                [(ngModel)]="plantation_name" required />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="form-2" *ngIf="showformvalue===2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Bed Prepration Details</mat-label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <mat-label class="custom-label">Upload Image </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload"> Upload Image {{bed_image_flag}}
                                            </label>
                                            <input id="upload" type="file" name="bed_image"
                                                (change)="imageUpload($event,'bed')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="custom-label">Upload Audio </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload_audio"> Upload Audio
                                                {{bed_audio_flage}} </label>
                                            <input id="upload_audio" type="file" name="bed_audio"
                                                (change)="audioUpload($event,'bed')">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Video URL </mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="bed_video" [(ngModel)]="bed_video"
                                                required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <mat-label class="custom-label">Description </mat-label>
                                        <textarea class="form-control" name="bed_desc"
                                            [(ngModel)]="bed_desc"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Other Detail (if any) </mat-label>
                                        <div *ngFor="let rowData of bed_detailsRow; let i = index;">
                                            <mat-form-field class="flex-auto">
                                                <input matInput type="text" [(ngModel)]="rowData.detail_name"
                                                    name="detail_name_+{{rowData.detail_id}}" required />
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="bed_add(i)"
                                                    *ngIf="i === 0 && bed_detailsRowLen ===1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                                                    (click)="bed_deleteRow(rowData,rowData.detail_id)"
                                                    *ngIf="bed_detailsRowLen > 1 && bed_detailsRowLen != i+1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="bed_add(i)"
                                                    *ngIf="i > 0 && bed_detailsRowLen === i+1 "></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-3" *ngIf="showformvalue===3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Crop Support Details</mat-label>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <mat-label class="custom-label">Upload Image </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload"> Upload Image
                                                {{crop_image_flag}}</label>
                                            <input id="upload" type="file" name="crop_image"
                                                (change)="imageUpload($event,'crop')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="custom-label">Upload Audio</mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload_audio"> Upload Audio
                                                {{crop_audio_flage}} </label>
                                            <input id="upload_audio" type="file" name="crop_image"
                                                (change)="audioUpload($event,'crop')">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Video URL </mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="crop_video" [(ngModel)]="crop_video"
                                                required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <mat-label class="custom-label">Description </mat-label>
                                        <textarea class="form-control" name="crop_desc"
                                            [(ngModel)]="crop_desc"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Other Detail (if any) </mat-label>
                                        <div *ngFor="let rowData of crop_detailsRow; let i = index;">
                                            <mat-form-field class="flex-auto">
                                                <input matInput type="text" [(ngModel)]="rowData.detail_name"
                                                    name="detail_name_+{{rowData.detail_id}}" required />
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="crop_add(i)"
                                                    *ngIf="i === 0 && crop_detailsRowLen ===1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                                                    (click)="crop_deleteRow(rowData,rowData.detail_id)"
                                                    *ngIf="crop_detailsRowLen > 1 && crop_detailsRowLen != i+1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="crop_add(i)"
                                                    *ngIf="i > 0 && crop_detailsRowLen === i+1 "></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-4" *ngIf="showformvalue===4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Irrigation Type Details</mat-label>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Irrigation Type</mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="irrigation_type"
                                                [(ngModel)]="irrigation_type" required />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <mat-label class="custom-label">Upload Image </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload"> Upload Image
                                                {{irr_image_flag}}</label>
                                            <input id="upload" type="file" name="irr_image"
                                                (change)="imageUpload($event,'irr')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="custom-label">Upload Audio </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload_audio"> Upload Audio
                                                {{irr_audio_flage}}</label>
                                            <input id="upload_audio" type="file" name="irr_audio"
                                                (change)="audioUpload($event,'irr')">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Video URL </mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="irr_video" [(ngModel)]="irr_video"
                                                required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <mat-label class="custom-label">Description </mat-label>
                                        <textarea class="form-control" name="irr_desc"
                                            [(ngModel)]="irr_desc"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Other Detail (if any) </mat-label>
                                        <div *ngFor="let rowData of irr_detailsRow; let i = index;">
                                            <mat-form-field class="flex-auto">
                                                <input matInput type="text" [(ngModel)]="rowData.detail_name"
                                                    name="detail_name_+{{rowData.detail_id}}" required />
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="irr_add(i)"
                                                    *ngIf="i === 0 && irr_detailsRowLen ===1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                                                    (click)="irr_deleteRow(rowData,rowData.detail_id)"
                                                    *ngIf="irr_detailsRowLen > 1 && irr_detailsRowLen != i+1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="irr_add(i)"
                                                    *ngIf="i > 0 && irr_detailsRowLen === i+1 "></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-outline-dark"
                                    (click)="modal.close('Save click')">Submit</button> -->
                                <div class="row col-md-12" *ngIf="showformvalue===1" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">

                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-right" (click)="showForm(2)">Next</button>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="showformvalue===2" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-left" (click)="showForm(1)">Prev</button>
                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-right" (click)="showForm(3)">Next</button>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="showformvalue===3" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-left" (click)="showForm(2)">Prev</button>
                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-right" (click)="showForm(4)">Next</button>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="showformvalue===4" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-left" (click)="showForm(3)">Prev</button>
                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button type="submit" class="btn btn-sm pull-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>


                <ng-template #edit let-modal>
                    <div class="modal-header">
                        <div class="row row-inline">
                            <h4 class="modal-title" id="modal-basic-title">Edit Plantation Design</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row row-inline">
                            <div class="singlerow">
                                <label [ngClass]="{'lbactive': showformvalue === 1}">Plantation Name </label> > <label
                                    [ngClass]="{'lbactive': showformvalue === 2}"> Bed Preparation</label> > <label
                                    [ngClass]="{'lbactive': showformvalue === 3}"> Crop
                                    Support</label> > <label [ngClass]="{'lbactive': showformvalue === 4}"> Irrigation
                                    Type </label>
                            </div>

                        </div>
                    </div>
                    <div class="modal-body">
                        <form #editActivity="ngForm" (ngSubmit)="onUpdateRecord(editActivity)">
                            <div class="form-1" *ngIf="showformvalue===1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Please enter plantation design name</mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="plantation_name"
                                                [(ngModel)]="plantation_name" required />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="form-2" *ngIf="showformvalue===2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Bed Prepration Details</mat-label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <div class="imgdiv" *ngIf="bed_image!=''">
                                            <img src="{{url+'image/'+bed_image}}" alt="">
                                        </div>
                                        <mat-label class="custom-label">Upload Image </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload"> Upload Image {{bed_image_flag}}
                                            </label>
                                            <input id="upload" type="file" name="bed_image"
                                                (change)="imageUpload($event,'bed')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="imgdiv" *ngIf="bed_audio!=''">
                                            <audio controls>
                                                <source src="{{url+'audio/'+bed_audio}}" type="audio/ogg">
                                                <source src="{{url+'audio/'+bed_audio}}" type="audio/mpeg">
                                            </audio>
                                        </div>
                                        <mat-label class="custom-label">Upload Audio </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload_audio"> Upload Audio
                                                {{bed_audio_flage}} </label>
                                            <input id="upload_audio" type="file" name="bed_audio"
                                                (change)="audioUpload($event,'bed')">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Video URL </mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="bed_video" [(ngModel)]="bed_video"
                                                required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <mat-label class="custom-label">Description </mat-label>
                                        <textarea class="form-control" name="bed_desc"
                                            [(ngModel)]="bed_desc"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Other Detail (if any) </mat-label>
                                        <div *ngFor="let rowData of bed_detailsRow; let i = index;">
                                            <mat-form-field class="flex-auto">
                                                <input matInput type="text" [(ngModel)]="rowData.detail_name"
                                                    name="detail_name_+{{rowData.detail_id}}" required />
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="bed_add(i)"
                                                    *ngIf="i === 0 && bed_detailsRowLen ===1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                                                    (click)="bed_deleteRow(rowData,rowData.detail_id)"
                                                    *ngIf="bed_detailsRowLen > 1 && bed_detailsRowLen != i+1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="bed_add(i)"
                                                    *ngIf="i > 0 && bed_detailsRowLen === i+1 "></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-3" *ngIf="showformvalue===3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Crop Support Details</mat-label>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <div class="imgdiv" *ngIf="crop_image!=''">
                                            <img src="{{url+'image/'+crop_image}}" alt="">
                                        </div>
                                        <mat-label class="custom-label">Upload Image </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload"> Upload Image
                                                {{crop_image_flag}}</label>
                                            <input id="upload" type="file" name="crop_image"
                                                (change)="imageUpload($event,'crop')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="imgdiv" *ngIf="crop_audio!=''">
                                            <audio controls>
                                                <source src="{{url+'audio/'+crop_audio}}" type="audio/ogg">
                                                <source src="{{url+'audio/'+crop_audio}}" type="audio/mpeg">
                                            </audio>
                                        </div>
                                        <mat-label class="custom-label">Upload Audio</mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload_audio"> Upload Audio
                                                {{crop_audio_flage}} </label>
                                            <input id="upload_audio" type="file" name="crop_image"
                                                (change)="audioUpload($event,'crop')">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Video URL </mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="crop_video" [(ngModel)]="crop_video"
                                                required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <mat-label class="custom-label">Description </mat-label>
                                        <textarea class="form-control" name="crop_desc"
                                            [(ngModel)]="crop_desc"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Other Detail (if any) </mat-label>
                                        <div *ngFor="let rowData of crop_detailsRow; let i = index;">
                                            <mat-form-field class="flex-auto">
                                                <input matInput type="text" [(ngModel)]="rowData.detail_name"
                                                    name="detail_name_+{{rowData.detail_id}}" required />
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="crop_add(i)"
                                                    *ngIf="i === 0 && crop_detailsRowLen ===1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                                                    (click)="crop_deleteRow(rowData,rowData.detail_id)"
                                                    *ngIf="crop_detailsRowLen > 1 && crop_detailsRowLen != i+1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="crop_add(i)"
                                                    *ngIf="i > 0 && crop_detailsRowLen === i+1 "></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-4" *ngIf="showformvalue===4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Irrigation Type Details</mat-label>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <div class="imgdiv" *ngIf="irr_image!=''">
                                            <img src="{{url+'image/'+irr_image}}" alt="">
                                        </div>
                                        <mat-label class="custom-label">Upload Image </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload"> Upload Image
                                                {{irr_image_flag}}</label>
                                            <input id="upload" type="file" name="irr_image"
                                                (change)="imageUpload($event,'irr')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="imgdiv" *ngIf="irr_audio!=''">
                                            <audio controls>
                                                <source src="{{url+'audio/'+irr_audio}}" type="audio/ogg">
                                                <source src="{{url+'audio/'+irr_audio}}" type="audio/mpeg">
                                            </audio>
                                        </div>
                                        <mat-label class="custom-label">Upload Audio </mat-label>
                                        <div class="button-wrap">
                                            <label class="new-button" for="upload_audio"> Upload Audio
                                                {{irr_audio_flage}}</label>
                                            <input id="upload_audio" type="file" name="irr_audio"
                                                (change)="audioUpload($event,'irr')">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Video URL </mat-label>
                                        <mat-form-field class="flex-auto">
                                            <input matInput type="text" name="irr_video" [(ngModel)]="irr_video"
                                                required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <mat-label class="custom-label">Description </mat-label>
                                        <textarea class="form-control" name="irr_desc"
                                            [(ngModel)]="irr_desc"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-label class="custom-label">Other Detail (if any) </mat-label>
                                        <div *ngFor="let rowData of irr_detailsRow; let i = index;">
                                            <mat-form-field class="flex-auto">
                                                <input matInput type="text" [(ngModel)]="rowData.detail_name"
                                                    name="detail_name_+{{rowData.detail_id}}" required />
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="irr_add(i)"
                                                    *ngIf="i === 0 && irr_detailsRowLen ===1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'indeterminate_check_box'"
                                                    (click)="irr_deleteRow(rowData,rowData.detail_id)"
                                                    *ngIf="irr_detailsRowLen > 1 && irr_detailsRowLen != i+1">
                                                </mat-icon>
                                                <mat-icon matSuffix [svgIcon]="'add_box'" (click)="irr_add(i)"
                                                    *ngIf="i > 0 && irr_detailsRowLen === i+1 "></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-outline-dark"
                                    (click)="modal.close('Save click')">Submit</button> -->
                                <div class="row col-md-12" *ngIf="showformvalue===1" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">

                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-right" (click)="showForm(2)">Next</button>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="showformvalue===2" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-left" (click)="showForm(1)">Prev</button>
                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-right" (click)="showForm(3)">Next</button>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="showformvalue===3" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-left" (click)="showForm(2)">Prev</button>
                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-right" (click)="showForm(4)">Next</button>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="showformvalue===4" style="padding: 0;">
                                    <div class="col-md-6" style="padding: 0;">
                                        <button class="btn btn-sm pull-left" (click)="showForm(3)">Prev</button>
                                    </div>
                                    <div class="col-md-6" style="padding: 0;">
                                        <button type="submit" class="btn btn-sm pull-right">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <ng-template #delete let-modal class="delete_modal">
                    <div class="modal-header">Do you really want to make changes ?</div>
                    <div class="modal-body">

                        <button type="button" class="btn btn-danger btn-cancel" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary btn-ok" (click)="onChangeStatus()">
                            Ok
                        </button>
                    </div>
                    <div class="modal-footer"></div>
                </ng-template>


            </div>
        </div>
    </div>
</div>


<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>