@import 'treo';

farmregistration{}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $is-dark: map-get($theme, is-dark);

}

.myCustomModalClass .modal-dialog {
    //any change in overall modal
    .modal-header {
        background-color: #5850ec !important;
        color: #fff !important;
    }

    //  .form_group_main {
    // display: flex !important;
    // flex-wrap: wrap !important;
    // margin: 0 -8px !important;
    //     .form-group {
    //         width: calc(50% - 16px) !important;
    //         margin: 8px !important;
    //     }
    // }
        
    //         span {
    //             color: #fff !important;
    //             opacity: 1 !important;
    //             border-color: #fff !important;
    //         }

    //         button {
    //             opacity: 1 !important;
    //         }
    // }


  }





.btn:focus{
outline: none;
}
.btn_delete {
    background-color: red;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 7px 25px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn_close {
    background-color: #0048cc !important;
    color: #fff;
    font-weight: 700;
    border: none !important;
    padding: 7px 25px !important;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 !important;
    opacity: 1;
    text-shadow: none !important;
    line-height: 1.6 !important;
    
}




.form-group label {
    width: 100%;
    display: block;
}

.form-group input, .form-group select, .form-group textarea {
    border: 1px solid #c7c7c7;
    width: 100%;
    padding: 6px;
    min-height: 38px;
    border-radius: 7px;
}

.modal-footer button.btn {
    background-color: #5850ec;
    color: #fff;
    padding: 8px 28px;
    border: none;
    transition: all 0.5s;
}

.modal-footer button.btn:hover {
    background-color: black;
}
@import 'treo';

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $is-dark: map-get($theme, is-dark);
}




.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.btn_delete {
    background-color: red;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 7px 25px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn_close {
    background-color: #0048cc !important;
    color: #fff;
    font-weight: 700;
    border: none !important;
    padding: 7px 25px !important;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 !important;
    opacity: 1;
    text-shadow: none !important;
    line-height: 1.6 !important;
    
}




.form-group label {
    width: 100%;
    display: block;
}

.form-group input, .form-group select, .form-group textarea {
    position: relative;
    display: flex;
    min-height: 48px;
    border-radius: 6px;
    padding: 0 16px;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.modal-footer button.btn {
    background-color: #5850ec;
    color: #fff;
    padding: 8px 28px;
    border: none;
    transition: all 0.5s;
}

.modal-footer button.btn:hover {
    background-color: black;
}


input:-moz-placeholder{
    color: #495057;
}
input::-webkit-input-placeholder{
    color: #495057;
}
input:-ms-input-placeholder{
    color: #495057;
}
input::placeholder{
    color: #495057;
}



.modal-header {
    display: flex;
    background-color: #fafafa;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    border-bottom: 1px solid #ffffff;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    color: #5f5f5f;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #6f6f6f;
}
.modal-title {
    margin-bottom: 0;
    line-height: 2rem;
    font-size: 20px;
    font-weight: 400;
}


.addbtn {
	float: right;
	margin-bottom: 10px;
}
.flex-auto {
	width: 100%;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }
 .add_btn {
    background-color: #f3f3f3;
    color: #5f5f5f;
    padding: 3px 12px 4px 12px;
    font-size: 12px;
    border-radius: 5px;
    margin: 6px;
    border-bottom: 2px solid #d6d6d6;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    border-bottom: 2px solid #5850ec;
}
.btn_rows {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

    input[type="file"] {
    position: absolute !important;
    z-index: -1;
    top: 6px;
    left: 0px;
    font-size: 15px;
    color: rgb(153,153,153);
    display: contents;
  }
  
  .button-wrap {
    position: relative;
  }
  
  .new-button {
    padding: 0px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    color: #acafb5;
    height: 48px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cfd8e3;
    box-shadow: 1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  .custom-label {
    font-weight: 500;
    font-size: 14px;
    color: #27303f;
    margin-top: 0;
    margin-bottom: 3px;
    display: block;
    margin-left: 1px;
}

.remove {
    float: right;
    margin-right: 2px;
    font-size: 12px;
    color: #ff8181;
}
.box_main .bg-card.shadow mat-icon {
    color: #ffa5a5;
    min-height: 17px !important;
    height: 17px !important;
    margin: 4px;
    /* text-align: center; */
}

.active{
    color: #5cdaa5 !important;
}
.inactive{
    color: #ffa5a5 !important;
}
.btn-cancel {
    background-color: #ff7272 !important;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 7px 25px;
    text-transform: uppercase;
    font-size: 16px;
    width: 49%;
}
.btn-ok{
    background-color: #4772c1 !important;
    color: #fff;
    font-weight: 700;
    border: none !important;
    padding: 7px 25px !important;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 !important;
    opacity: 1;
    text-shadow: none !important;
    line-height: 1.6 !important;
    width: 49%;
    margin-left: 3px !important;
}
.imgdiv {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 150px;
    img{
        width: 100%;
        max-height: 150px;
    }
}
.audiodiv {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: 400px !important;
    overflow-y: auto !important;
}
/* width */
.modal-body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .modal-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .modal-body::-webkit-scrollbar-thumb {
    background: rgb(3, 99, 209); 
  }
  
  /* Handle on hover */
  .modal-body::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 17, 238); 
  }

  @import 'treo';
  selectview {}
  
  // -----------------------------------------------------------------------------------------------------
  // @ Theming
  // -----------------------------------------------------------------------------------------------------
  @include treo-theme {
      $background: map-get($theme, background);
      $foreground: map-get($theme, foreground);
      $primary: map-get($theme, primary);
      $accent: map-get($theme, accent);
      $warn: map-get($theme, warn);
      $is-dark: map-get($theme, is-dark);
  }
  
  .myCustomModalClass .modal-dialog {
      //any change in overall modal
      .modal-header {
          background-color: #5850ec !important;
          color: #fff !important;
      }
  }
  
  .btn:focus {
      outline: none;
  }
  
  .btn_delete {
      background-color: red;
      color: #fff;
      font-weight: 700;
      border: none;
      padding: 7px 25px;
      text-transform: uppercase;
      font-size: 16px;
  }
  
  .btn_close {
      background-color: #0048cc !important;
      color: #fff;
      font-weight: 700;
      border: none !important;
      padding: 7px 25px !important;
      text-transform: uppercase;
      font-size: 16px;
      margin: 0 !important;
      opacity: 1;
      text-shadow: none !important;
      line-height: 1.6 !important;
  }
  
  .form-group label {
      width: 100%;
      display: block;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
      border: 1px solid #c7c7c7;
      width: 100%;
      padding: 6px;
      min-height: 38px;
      border-radius: 7px;
  }
  
  .modal-footer button.btn {
      background-color: #5850ec;
      color: #fff;
      padding: 8px 28px;
      border: none;
      transition: all 0.5s;
  }
  
  .modal-footer button.btn:hover {
      background-color: black;
  }
  
  input:-moz-placeholder {
      color: #495057;
  }
  
  input::-webkit-input-placeholder {
      color: #495057;
  }
  
  input:-ms-input-placeholder {
      color: #495057;
  }
  
  input::placeholder {
      color: #495057;
  }
  
  .modal-header {
      display: flex;
      background-color: #5850ec;
      align-items: flex-start;
      justify-content: space-between;
      padding: .8rem .8rem;
      border-bottom: 1px solid #ffffff;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);
      color: white;
  }
  
  .modal-header .close {
      padding: 1rem 1rem;
      margin: -1rem -1rem -1rem auto;
      color: white;
  }
  
  .modal-title {
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 24px;
      font-weight: 400;
  }
  
  // .crop_master {
  //     width: 100%;
  //     background-color: #f2f2f2;
  //     margin: -15px 0 0 -15px;
  //     width: 103%;
  //     padding: 15px;
  // }
  .heading_master {
      margin-bottom: 30px;
      margin-top: 48px;
  }
  
  .heading_master .button_box {
      box-shadow: 0px 1px 6px #cacaca;
      border-radius: 8px;
      padding: 8px 15px 8px;
  }
  
  .heading_master .button_box .top_button {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: space-between;
  }
  
  .heading_master .button_box .top_button .img_box {
      padding: 15px;
  }
  
  .heading_master .button_box .top_button .img_box img {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 0;
      top: -22px;
      background-color: red;
      padding: 15px;
      box-shadow: 0 0 5px #c7c7c7;
      border-radius: 3px;
  }
  
  .heading_master .button_box .top_button .text_box span {
      display: block;
      text-align: right;
  }
  
  .heading_master .button_box .top_button .text_box span.heading {
      font-size: 13px;
      font-weight: 500;
  }
  
  .heading_master .button_box .top_button .text_box span.text_sub_heading {
      font-size: 23px;
      font-weight: 600;
  }
  
  .heading_master .button_box .bottom_button {
      border-top: 2px solid #f2f2f2;
      padding: 5px 0 0;
      margin-top: 5px;
      font-size: 11px;
      text-transform: capitalize;
      font-weight: 600;
  }
  
  .button_box.first_box .img_box img {
      background-image: linear-gradient(to right, #fda21e, #ec8c01);
  }
  
  .button_box.second_box .img_box img {
      background-image: linear-gradient(to right, #5db460, #51a455);
  }
  
  .button_box.third_box .img_box img {
      background-image: linear-gradient(to right, #ed4f4b, #e6413f);
  }
  
  .button_box.fourth_box .img_box img {
      background-image: linear-gradient(to right, #22c3d6, #10afc3);
  }
  
  .first_box.active .bottom_button {
      color: #fa9f1a;
  }
  
  .second_box.active .bottom_button {
      color: #53a557;
  }
  
  .third_box.active .bottom_button {
      color: #e64846;
  }
  
  .fourth_box.active .bottom_button {
      color: #15b1c5;
  }
  
  .button_box.first_box.active {
      border: 2px solid #fba01b;
      /* border-style: inset; */
  }
  
  .button_box.second_box.active {
      border: 2px solid #52a656;
  }
  
  .button_box.third_box.active {
      border: 2px solid #eb4c48;
  }
  
  .button_box.fourth_box.active {
      border: 2px solid #1fc0d3;
  }
  
  // .header_top_btn {
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: space-between;
  //     background-color: #f2f2f2;
  //     margin: -15px 0 0 -15px;
  //     width: 103%;
  //     padding: 9px 15px;
  //     align-items: center;
  // }
  // .header_top_btn p {
  //     width: 50%;
  //     margin: 0 !important;
  //     padding: 0 !important;
  // }
  // .header_top_btn p:last-child {
  //     float: right;
  //     text-align: right;
  // }
  p button {
      background-color: #5850ec;
      color: #fff !important;
  }
  
  // button.btn.btn-info.btn-sm {
  //     margin-top: 30px !important;
  //     padding: 13px !important;
  // }
  button.btn.btn-info.btn-sm {
      margin-top: 37px;
  }
  
  .flex-auto {
      width: 100%;
  }
  
  .header_top_btn_new {
      background-color: #fff;
      margin: -15px;
      box-shadow: 0 0 5px #a5a5a5;
      padding: 0;
      padding: 20px 20px 10px 20px;
  }
  
  .master-heading {
      margin: 0;
      font-size: 1.8rem;
      margin: 0;
  }
  
  .breadcrumb {
      display: flex;
      flex-wrap: wrap;
      padding: 0rem 2px;
      margin-bottom: 0rem;
      list-style: none;
      background-color: transparent;
      border-radius: 0.25rem;
      margin-bottom: 2px;
      margin-top: 0px;
      font-size: 10px;
  }
  
  
  
  .addbtn {
      float: right;
      margin-bottom: 10px;
  }
  .box_main .bg-card.shadow .table_sec {
      background-color: #fff !important;
      padding: 0px 0px;
      border-radius: 5px;
      box-shadow: 0 0px 0px #a5a5a5;
  }
  .container {
      margin: 0px 0px !important;
  }