// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.box_main {
	width: 100%;
}

app-activitymaster,
app-irrigationmaster,
app-landmeasurement,
app-locationmaster,
app-materialmaster,
app-mulchmaster,
app-plantationmaster,
app-preparationmaster,
app-qamaster,
app-seasonmaster,
app-soilmaster,
app-unitmeasurementmaster,
app-tabview,
app-cropactivitymaster,
app-cropcategorymaster,
app-Cropfamilymaster,
app-Cropmaster,
app-Cropstagesmaster,
app-Diseasemaster,
app-unitmeasurement,
app-generatenotification,
app-registeredusers,
app-marketvendors,
app-installfpo,
app-tickets,
app-profile {
	flex-wrap: wrap;
	margin: 16px 0;
}

app-selectview {
	flex-wrap: wrap;
}

app-selectview .container {
	margin: 16px 16px;
}

.box_main .bg-card.shadow {
	padding: 15px;
}

.box_main .bg-card.shadow mat-icon {
	color: red;
	min-height: 17px !important;
	height: 17px !important;
	margin: 4px;
}

td.edit_icons mat-icon.mat-icon {
	color: #5850ec !important;
}

.field_form_sec .header {
	margin: 16px;
}

.field_form_sec .main {
	padding: 0 !important;
	margin: 16px !important;
}

.field_form_sec .main .max-w-3xl {
	max-width: 100% !important;
}

.box_main select,
.box_main input {
	border: 1px solid #e2e8f0;
	padding: 0 4px;
}

.paginate_button.previous,
.paginate_button.next {
	border: 1px solid #e5e5e5 !important;
	padding: 3px 15px !important;
	transition: all 0.5s;
}

.paginate_button.current {
	padding: 3px 15px!important;
	height: auto !important;
	min-height: initial !important;
	background-color: #5850ec !important;
	background: #5850ec !important;
	color: #fff !important;
}

table.dataTable tbody tr {
	vertical-align: top;
}

.header_top_btn {
	margin-bottom: 15px;
}

app-selectview .table_sec {
	width: 100%;
	// display: flex;
	// flex-wrap: wrap;
	box-shadow: 0 0 5px #000;
}

app-selectview .box_main .bg-card,
app-tabview .box_main .bg-card {
	background-color: #f1f5f9;
}

app-selectview .box_main .bg-card .header_top_btn,
app-tabview .box_main .bg-card .header_top_btn {
	background-color: #fff;
    margin: -15px;
    padding: 10px 10px 3px 10px;
    box-shadow: 0 0 1px #a5a5a5;
}

app-selectview .box_main .bg-card .header_top_btn p.crop_master,
app-tabview .box_main .bg-card .header_top_btn p.crop_master {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
}

app-selectview .box_main .bg-card .heading_master {
	padding: 25px;
}

app-selectview .box_main .bg-card .heading_master,
app-tabview .box_main .bg-card .heading_master {
	background-color: transparent !important;
    box-shadow: 0 0px 0px #a5a5a5;
    margin-top: 0 !important;
    border-radius: 6px;
    margin-bottom: 0rem !important;
}

app-tabview .box_main .bg-card .heading_master {
	padding: 20px 6px 12!important;
}

app-selectview .box_main .bg-card .heading_master .row,
app-tabview .box_main .bg-card .heading_master .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

app-selectview .box_main .bg-card .heading_master .row button.btn,
app-tabview .box_main .bg-card .heading_master .row button.btn {
	width: 100%;
	min-height: 48px;
	margin: 31px 0 0 !important;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #5850ec !important;
}

app-selectview .box_main .bg-card .heading_master .row .form-group,
app-tabview .box_main .bg-card .heading_master .row .form-group {
	margin-bottom: 0;
}

.box_main .bg-card.shadow .table_sec {
	background-color: #fff !important;
	padding: 15px 10px;
	border-radius: 5px;
	box-shadow: 0 1px 5px #a5a5a5;
}

// app-selectview .box_main .bg-card.shadow .table_sec div {
//     width: 100% !important;
// }
app-tabview {
	margin-top: 0;
}

.master-heading-small {
	font-size: 1.2rem;
    color: #668bb1;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 7px 10px;
    border-bottom: 1px solid #eaeaea;
    color: #7a7e88;
    font-weight: 500;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333333 !important;
    border: 1px solid #e5e5e5;
    background-color: white !important;
    background-color: white;
    background: linear-gradient(to bottom, white 0%, gainsboro 100%);
}
table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
}
.ck.ck-reset.ck-editor.ck-rounded-corners {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
background-color: white;
    border-color: #cfd8e3 !important;
}
.ck.ck-editor {
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: var(--ck-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #cfd8e3 !important;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: #cfd8e3 !important;
}

.addbtn {
	float: right;
	margin-bottom: 10px;
}
.flex-auto {
	width: 100%;
}
.master-heading-small {
    font-size: 1.2rem;
    color: #668bb1;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}