<div class="box_main">
  <div class="container" style="margin: 0px 0px !important">
    <div class="col-md-12 bg-card shadow rounded overflow-hidden">
      <div class="header_top_btn_new mb-5">
        <div class="row">
          <div class="col-md-8 custom-col-8">
            <div class="btn btn-light" (click)="onBackButtonClick()">Back</div>
            <!-- <div class="breadcrumb">
                <span class="path">Tickets</span
                ><span class="separator">/</span>
                <span class="path">Tickets</span>
              </div> -->
            <h1 class="master-heading">Tickets/</h1>
            <span>{{ ticketNumber | uppercase }}</span>
            <!-- <h4>abcd</h4> -->
            <!-- <h1 class="master-heading">Ticket Number</h1> -->
          </div>
        </div>
      </div>
      <div
        class="col-md-12 bg-card shadow rounded overflow-hidden"
        style="background-color: white"
      >
        <div class="header_top_btn mb-5">
          <div class="row">
            <div class="col-md-8 master-heading mb-5">
              {{ ticketDesc }}
            </div>
          </div>
          <form #addComments="ngForm" (ngSubmit)="onAddComments(addComments)">
            <div class="row">
              <div class="col-md-8">
                <!-- <mat-label class="custom-label">Description</mat-label> -->
                <mat-form-field class="flex-auto">
                  <textarea
                  [(ngModel)]="userComment"
                    matInput
                    type="text"
                    placeholder="Comment on this request"
                    name="description"
                    required
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12 pull-right">
                <button type="submit" class="btn btn-light" [disabled]="addComments.invalid">Add</button>
                <button class="btn btn-light ml-2" (click)="onCancelClick()">Cancel</button>
              </div>
            </div>
          </form>
          <hr style="width: 65%" />
          <div *ngFor="let comment of ticketComments">
            <div class="row">
              <div class="col-md-8">
                <div class="user_info">
                  <h6>{{ comment.comment_by }}</h6>
                  <p class="date_info">
                    {{ comment.comment_on | date: "medium" }}
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="row"> -->
            <div class="col-md-8">
              <p>{{ comment.comment_desc }}</p>
            </div>
            <hr style="width: 65%" />
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
