<div class="box_main">
    <div class="col-md-12 bg-card shadow rounded overflow-hidden">
      <div class="header_top_btn_new mb-5">
        <div class="row">
          <div class="col-md-8 custom-col-8">
            <div class="breadcrumb">
              <span class="path">Farmer</span
              ><span class="separator">/</span>
              <span class="path">Add Ticket</span>
            </div>
            <h1 class="master-heading">Add Ticket</h1>
          </div>
          <div class="col-md-4">
            <!-- <mat-form-field class="flex-auto">
                  <mat-select [(ngModel)]="selectedMaster" (selectionChange)="onMasterRecordListChange($event)">
                      <mat-option *ngFor="let list of masterRecordList" value="{{list.name}}">{{list.name}}</mat-option>                            
                  </mat-select>
                  <mat-icon matPrefix [svgIcon]="'arrow_right_alt'"></mat-icon>
              </mat-form-field> -->
          </div>
        </div>
      </div>
            <div class="">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Notification Header</th>
                            <th>Notificaiton Detail</th>
                            <th>Source</th>
                            <th>Attachment</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of cropCategoryRecord; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{ list.crop_category }}</td>
                            <td>{{ list.crop_sub_category }}</td>
                            <td>{{ list.crop_category }}</td>
                            <td>{{ list.crop_sub_category }}</td>
                            <td class="delete_icons">
                                <mat-icon [svgIcon]="'check_circle'" class="active" *ngIf="list.status != 0"
                                    (click)="statusModal(delete,0, list.crop_category_id)"></mat-icon>
                                <mat-icon [svgIcon]="'highlight_off'" class="inactive" *ngIf="list.status === 0"
                                    (click)="statusModal(delete,1, list.crop_category_id)"></mat-icon>
                            </td>
                            <td class="edit_icons">
                                <mat-icon [svgIcon]="'picture_in_picture_alt'" (click)="editModal(edit, list)">
                                </mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #addnew let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                            Add New Crop Category
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #addLandMeasurement="ngForm" (ngSubmit)="onAddLandMeasurement(addLandMeasurement)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-label class="custom-label">Crop Family</mat-label>
                                    <mat-form-field class="flex-auto">
                                        <mat-select [(ngModel)]="family_id" name="family_id" (selectionChange)="familyOnChange('add')">
                                            <mat-option value="0">Select Family</mat-option>
                                            <mat-option *ngFor="let family of crop_family_master" value="{{family.cf_id}}">
                                                {{family.cf_name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-label class="custom-label">Existing Category</mat-label>
                                    <mat-form-field class="flex-auto">
                                        <mat-select [(ngModel)]="crop_category_id" (selectionChange)="categoryOnChange()"  name="crop_category_id">
                                            <mat-option value="0">Select Category</mat-option>
                                            <mat-option value="add">Add New Category</mat-option>
                                            <mat-option *ngFor="let category of filteredCropCategory" value="{{category.crop_category_id+'_'+category.crop_category}}">
                                                {{category.crop_category}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" *ngIf="show_category_name">
                                    <mat-label>Crop category name</mat-label>
                                    <mat-form-field class="flex-auto">                                        
                                        <input matInput type="text" [disabled]="disable_name" [(ngModel)]="category_name" name="category_name" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" *ngIf="show_sub_category_name">
                                    <mat-label>Crop sub category name</mat-label>
                                    <mat-form-field class="flex-auto">                                        
                                        <input matInput type="text" [(ngModel)]="sub_category_name" name="sub_category_name" required />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-dark">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <ng-template #edit let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                            Update Crop Category
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #updateLandMeasurement="ngForm"
                            (ngSubmit)="onUpdateLandMeasurement(updateLandMeasurement)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-label class="custom-label">Crop Family</mat-label>
                                    <mat-form-field class="flex-auto">
                                        <mat-select [(ngModel)]="family_id" name="family_id" (selectionChange)="familyOnChange('edit')">
                                            <mat-option value="0">Select Family</mat-option>
                                            <mat-option *ngFor="let family of crop_family_master" value="{{family.cf_id}}">
                                                {{family.cf_name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-label class="custom-label">Existing Category</mat-label>
                                    <mat-form-field class="flex-auto">
                                        <mat-select [(ngModel)]="crop_category_id"(selectionChange)="categoryOnChange()"  name="crop_category_id">
                                            <mat-option value="0">Select Category</mat-option>
                                            <mat-option value="add">Add New Category</mat-option>
                                            <mat-option *ngFor="let category of filteredCropCategory" value="{{category.crop_category_id+'_'+category.crop_category}}">
                                                {{category.crop_category}}</mat-option>
                                        </mat-select>
                                        
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-6" >
                                    <mat-label>Crop category name</mat-label>
                                    <mat-form-field class="flex-auto">                                        
                                        <input matInput type="text"  [(ngModel)]="category_name" name="category_name" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12" >
                                    <mat-label>Crop sub category name</mat-label>
                                    <mat-form-field class="flex-auto">                                        
                                        <input matInput type="text" [(ngModel)]="sub_category_name" name="sub_category_name" required />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-dark">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <ng-template #delete let-modal class="delete_modal">
                    <div class="modal-header">Do you really want to make changes ?</div>
                    <div class="modal-body">

                        <button type="button" class="btn btn-danger btn-cancel" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary btn-ok" (click)="onChangeStatus()">
                            Ok
                        </button>
                    </div>
                    <div class="modal-footer"></div>
                </ng-template>
           
</div>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>