<div class="box_main">
        <div class="col-md-12 bg-card shadow rounded overflow-hidden">
            <div class="header_top_btn mb-5">
                <p class="crop_master">
                    CROP MASTER
                </p>
            </div>
            <div class="heading_master">
                <div class="row">
                    <div class="col-md-3">
                        <div class="button_box first_box active">
                            <div class="top_button">
                                <div class="img_box">
                                    <img src="assets/crop.png" alt="">
                                </div>
                                <div class="text_box">
                                    <span class="heading">Crop Master</span>
                                    <span class="text_sub_heading">01</span>
                                </div>
                            </div>
                            <div class="bottom_button">
                                <span>crop master</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button_box second_box">
                            <div class="top_button">
                                <div class="img_box">
                                    <img src="assets/ratio.png" alt="">
                                </div>
                                <div class="text_box">
                                    <span class="heading">Crop Activity</span>
                                    <span class="text_sub_heading">02</span>
                                </div>
                            </div>
                            <div class="bottom_button">
                                <span>crop Activity</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button_box third_box">
                            <div class="top_button">
                                <div class="img_box">
                                    <img src="assets/crop_family.png" alt="">
                                </div>
                                <div class="text_box">
                                    <span class="heading">Crop Family</span>
                                    <span class="text_sub_heading">03</span>
                                </div>
                            </div>
                            <div class="bottom_button">
                                <span>crop Family</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button_box fourth_box">
                            <div class="top_button">
                                <div class="img_box">
                                    <img src="assets/progress.png" alt="">
                                </div>
                                <div class="text_box">
                                    <span class="heading">Crop Stages</span>
                                    <span class="text_sub_heading">04</span>
                                </div>
                            </div>
                            <div class="bottom_button">
                                <span>crop Stages</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="table_sec">
            <div class="">

                    <p>
                        <button type="button" class="btn btn_new" (click)="open(addnew)">Add New Button</button>
                    </p>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>S.Id</th>
                            <th>Irrigation Type Name</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Drip</td>
                            <td class="delete_icons" (click)="statusModal(delete)">
                                <mat-icon svgIcon="dripicons:trash"></mat-icon>
                            </td>
                            <td (click)="open(editone)" class="edit_icons">
                                <mat-icon svgIcon="dripicons:pencil"></mat-icon>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Flood</td>
                            <td class="delete_icons" (click)="statusModal(delete)">
                                <mat-icon svgIcon="dripicons:trash"></mat-icon>
                            </td>
                            <td (click)="open(edittwo)" class="edit_icons">
                                <mat-icon svgIcon="dripicons:pencil"></mat-icon>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Large Sprinkler</td>
                            <td class="delete_icons" (click)="statusModal(delete)">
                                <mat-icon svgIcon="dripicons:trash"></mat-icon>
                            </td>
                            <td (click)="open(editthree)" class="edit_icons">
                                <mat-icon svgIcon="dripicons:pencil"></mat-icon>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mini Sprinkler</td>
                            <td class="delete_icons" (click)="statusModal(delete)">
                                <mat-icon svgIcon="dripicons:trash"></mat-icon>
                            </td>
                            <td (click)="open(editfour)" class="edit_icons">
                                <mat-icon svgIcon="dripicons:pencil"></mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ng-template #add let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="dateOfBirth">Date of birth</label>
                                <div class="input-group">

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template> -->
                <ng-template #edit let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Update Activity Name</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Activity Name</label>
                                        <input type="text" placeholder="Blue Sticky Trap" name="Blue Sticky Trap">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Material Based Activity</label>
                                        <select class="form-control" name="Material Based Activity">
                                            <option value="mat">General Activity</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dateOfBirth">Description</label>
                                <textarea name="" id="" cols="30" rows="6"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>
                <ng-template #status let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="dateOfBirth">Date of birth</label>
                                <div class="input-group">

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>

                <ng-template #addnew let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Add New Irrigation Type</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Irrigation Type Name</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Image</label>
                                         <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                          </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Audio</label>
                                         <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="dateOfBirth">Video (Youtube Video Link Only)</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="modal.close('Save click')">Submit</button>
                    </div>
                </ng-template>

                
                <ng-template #editone let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit Irrigation Details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Irrigation Type Name</label>
                                            <input type="text" placeholder="Drip">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Irrigation Image</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Audio</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Video Url (Youtube Embed Video Link Only)</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="modal.close('Save click')">Submit</button>
                        </div>
                    </ng-template>



                <ng-template #edittwo let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit Irrigation Details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Irrigation Type Name</label>
                                            <input type="text" placeholder="Flood">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Image</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Audio</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Video Url (Youtube Embed Video Link Only)</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="modal.close('Save click')">Submit</button>
                        </div>
                    </ng-template>
    


                <ng-template #editthree let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit Irrigation Details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Irrigation Type Name</label>
                                            <input type="text" placeholder="Large Sprinkler">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Image</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Audio</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Video Url (Youtube Embed Video Link Only)</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="modal.close('Save click')">Submit</button>
                        </div>
                    </ng-template>
    



                
                <ng-template #editfour let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Edit Irrigation Details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Irrigation Type Name</label>
                                            <input type="text" placeholder="Mini Sprinkler">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Image</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Change Audio</label>
                                             <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Video Url (Youtube Embed Video Link Only)</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark"
                                (click)="modal.close('Save click')">Submit</button>
                        </div>
                    </ng-template>






                <ng-template #delete let-modal class="delete_modal">
                    <div class="modal-header">
                        Are you sure ?
                    </div>

                    <div class="modal-body">
                        <button type="button" class="btn btn-outline-dark btn_delete"
                            (click)="modal.close('Save click')">
                            Delete
                        </button>
                        <button type="button" class=" btn btn-outline-dark close btn_close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                            cancel
                        </button>
                    </div>

                    <div class="modal-footer">

                    </div>
                    <!-- <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="dateOfBirth">Date of birth</label>
                                    <div class="input-group">
    
                                    </div>
                                </div>
                            </form>
                        </div> -->
                </ng-template>


            </div>
        </div>
    </div>
</div>
<br>
<div class="content-layout fullwidth-standard-normal-scroll field_form_sec">
    <div class="main">
        <div class="max-w-3xl">
            <div class="rich-text">
                <p>
                    All Rights Reserved by Cyber Tatva. Designed and Developed by. <a href="#"> Cyber Tatva.</a>
                </p>
            </div>

        </div>
    </div>
</div>

  
  <script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  </script>