<div class="box_main">
        <div class="container">
            <div class="col-md-12 bg-card shadow rounded overflow-hidden">
                
                <div class="profile_sec_new">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">Full Name</label>
                                <input type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">Email Name</label>
                                <input type="email" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">mobile Number</label>
                                <input type="number" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">update Password</label>
                                <input type="email" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Save click')">Update</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div class="content-layout fullwidth-standard-normal-scroll field_form_sec">
        <div class="main">
            <div class="max-w-3xl">
                <div class="rich-text">
                    <p>
                        All Rights Reserved by Cyber Tatva. Designed and Developed by. <a href="#"> Cyber Tatva.</a>
                    </p>
                </div>
    
            </div>
        </div>
    </div>
    