<div class="content-layout" [ngClass]="'fullwidth-tabs'">

    <!-- Header -->
    <div class="header">

        <div class="left">

            <div class="breadcrumb">
                <span class="path">CONTENT LAYOUTS</span>
                <span class="separator">/</span>
                <span class="path">FULLWIDTH</span>
            </div>

            <h1>Fullwidth tabs</h1>

        </div>

        <div class="right">


        </div>

    </div>

    <!-- Main -->
    <div class="main">

        <!-- Tabs -->
        <mat-tab-group>

            <mat-tab label="First Tab">

                <!-- Demo content -->


            </mat-tab>

            <mat-tab label="Second Tab">

                <!-- Demo content -->


            </mat-tab>

            <mat-tab label="Third Tab">

                <!-- Demo content -->


            </mat-tab>

            <mat-tab label="Fourth Tab">

                <!-- Demo content -->


            </mat-tab>

            <mat-tab label="Fifth Tab">

                <!-- Demo content -->


            </mat-tab>

            <mat-tab label="Sixth Tab">

                <!-- Demo content -->


            </mat-tab>

        </mat-tab-group>

    </div>

</div>