<div class="box_main">
  <div class="col-md-12">
    <div class="header_top_btn_new mb-5">
      <div class="row">
        <div class="col-md-8 custom-col-8">
          <div class="breadcrumb">
            <span class="path">Farmer</span><span class="separator">/</span>
            <span class="path">Dashboard</span>
          </div>
          <h1 class="master-heading">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group" style="padding: 10px; width: 100%">
    <div class="card-body">
      <div class="row">
        <div
          class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-green rounded border-l-4 shadow-md overflow-hidden"
        >
          <h5>6</h5>
          <h5 class="card-subtitle">Total Assigned Crop</h5>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card-body">
      <div class="row">
        <div
          class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue rounded border-l-4 shadow-md overflow-hidden"
        >
          <h5>40%</h5>
          <h5 class="card-subtitle">Pending Product</h5>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card-body">
      <div class="row">
        <div
          class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-red rounded border-l-4 shadow-md overflow-hidden"
        >
          <h5>56%</h5>
          <h5 class="card-subtitle">Product A</h5>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card-body">
      <div class="row">
        <div
          class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-purple rounded border-l-4 shadow-md overflow-hidden"
        >
          <h5>26%</h5>
          <h5 class="card-subtitle">Product B</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="flex flex-col flex-auto p-6 bg-card rounded shadow-md">
          <h5>#3 Days Activities</h5>
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th>Yesterday</th>
                <th>Today</th>
                <th>Tomorrow</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Chilli</td>
                <td>Chilli</td>
                <td>10 Acre</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Gilki</td>
                <td>Gilki</td>
                <td>10 Acre</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Bhindi</td>
                <td>Bhindi</td>
                <td>10 Acre</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Spinach/Palak</td>
                <td>Spinach/Palak</td>
                <td>10 Acre</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div
            class="flex flex-col flex-auto p-6 bg-card rounded shadow-md"
            style="height: 375px; width: 300px"
          >
            <h4 class="card-title">
              <a href="view_all_tickets.php">Alert &amp; Notification</a>
            </h4>

            <div
              class="feed-widget scrollable ps-container ps-theme-default"
              style="height: 450px"
              data-ps-id="be8d5325-f8d3-0fd8-07e5-2d9a7910b700"
            >
              <ul>
                <Li>Aphid monitoring in tomato Crop</Li>
                <li>Agricultarist to Talk Report</li>
                <li>Notfication for Bhindi</li>
                <li>Notification for Chilli</li>
                <Li>Aphid monitoring in tomato Crop</Li>
                <li>Notification for spinach Report</li>
                <li>Notfication for bhindi</li>
                <li>Notification for chilli</li>
                <li>Notification for spinach Report</li>
                <li>Notfication for bhindi</li>
                <li>Notification for chilli</li>
              </ul>
              <a href="#" class="nav-toggle">Read More</a>

              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
                <div
                  class="ps-scrollbar-x"
                  tabindex="0"
                  style="left: 0px; width: 0px"
                ></div>
              </div>
              <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px">
                <div
                  class="ps-scrollbar-y"
                  tabindex="0"
                  style="top: 0px; height: 0px"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-top: 15px">
        <div class="col">
          <div class="card">
            <div class="flex flex-col flex-auto p-6 bg-card rounded shadow-md">
              <center><h5>Assigned Crop</h5></center>

              <div class="table-responsive">
                <table
                  id="default_order"
                  class="table table-striped table-bordered display"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Crop</th>
                      <th>Date</th>
                      <th>Plot Name</th>
                      <th>Area</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Carrot/Gajar<span style="color: red"
                          >(Red/Orange)<span></span
                        ></span>
                      </td>
                      <td>26-09-2019</td>
                      <td>Plot4</td>
                      <td>10 Acers</td>
                    </tr>
                    <tr>
                      <td>
                        Spinach/Palak<span style="color: red"
                          >(Spinach/Palak)<span></span
                        ></span>
                      </td>
                      <td>27-09-2019</td>
                      <td>Plot4</td>
                      <td>20 Acers</td>
                    </tr>
                    <tr>
                      <td>
                        Bhindi<span style="color: red"
                          >(Bhindi)<span></span
                        ></span>
                      </td>
                      <td>30-09-2019</td>
                      <td>Plot2</td>
                      <td>11 Acers</td>
                    </tr>

                    <tr>
                      <td>
                        Tomato<span style="color: red"
                          >(Tomato)<span></span
                        ></span>
                      </td>
                      <td>30-09-2019</td>
                      <td>Plot2</td>
                      <td>11 Acers</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div
              class="flex flex-col flex-auto p-6 bg-card rounded shadow-md"
              style="height: 555px"
            >
              <div class="table-responsive">
                <center>
                  <h4>
                    You Need These Materials For Next<br />
                    #7 Days
                  </h4>
                </center>

                <table
                  id="default_order"
                  class="table table-striped table-bordered display"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Crop</th>
                      <th>Material</th>
                      <th>Quantity</th>
                      <!-- <th>Frequency</th>-->
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row" style="margin-top: 15px">
          <div class="col">
            <div class="flex flex-col flex-auto p-6 bg-card rounded shadow-md">
              <div class="table-responsive">
                <table
                  id="default_order"
                  class="table table-striped table-bordered display"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Pick Up</th>
                      <th>Show All</th>
                      <th>Create</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="flex flex-auto w-1/5 min-w-80 h-100 p-4">
            <div
              class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden"
            >
              <div class="flex flex-col p-4 pl-6">
                <div class="flex items-center justify-between">
                  <div
                    class="font-bold text-md text-secondary uppercase tracking-wider"
                  >
                    Assigned & Unassigned Land
                  </div>
                  <div>
                    <button
                      aria-haspopup="true"
                      mat-button=""
                      class="mat-focus-indicator mat-menu-trigger h-8 min-h-8 px-2 mat-button mat-button-base"
                    >
                     <span
                        matripple=""
                        class="mat-ripple mat-button-ripple"
                      ></span
                      ><span class="mat-button-focus-overlay"></span></button
                    ><!----><mat-menu class="ng-tns-c50-35"><!----></mat-menu>
                  </div>
                </div>
              </div>
              <div class="flex flex-col flex-auto px-6 pb-6">
                <apx-chart
                  class="flex flex-auto items-center justify-center w-full h-full"
                  _nghost-npl-c158=""
                  style="position: relative"
                  ><div _ngcontent-npl-c158="" style="min-height: 177.9px">
                    <div
                      id="apexchartsvt8hw8po"
                      class="apexcharts-canvas apexchartsvt8hw8po apexcharts-theme-light"
                      style="width: 256px; height: 177.9px"
                    >
                      <svg
                        id="SvgjsSvg1697"
                        width="256"
                        height="177.9"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs"
                        class="apexcharts-svg"
                        xmlns:data="ApexChartsNS"
                        transform="translate(0, 0)"
                        style="background: transparent"
                      >
                        <g
                          id="SvgjsG1699"
                          class="apexcharts-inner apexcharts-graphical"
                          transform="translate(37.5, 0)"
                        >
                          <defs id="SvgjsDefs1698">
                            <clipPath id="gridRectMaskvt8hw8po">
                              <rect
                                id="SvgjsRect1701"
                                width="187"
                                height="183"
                                x="-3"
                                y="-1"
                                rx="0"
                                ry="0"
                                opacity="1"
                                stroke-width="0"
                                stroke="none"
                                stroke-dasharray="0"
                                fill="#fff"
                              ></rect>
                            </clipPath>
                            <clipPath id="gridRectMarkerMaskvt8hw8po">
                              <rect
                                id="SvgjsRect1702"
                                width="185"
                                height="185"
                                x="-2"
                                y="-2"
                                rx="0"
                                ry="0"
                                opacity="1"
                                stroke-width="0"
                                stroke="none"
                                stroke-dasharray="0"
                                fill="#fff"
                              ></rect>
                            </clipPath>
                          </defs>
                          <g id="SvgjsG1703" class="apexcharts-pie">
                            <g
                              id="SvgjsG1704"
                              transform="translate(0, 0) scale(1)"
                            >
                              <circle
                                id="SvgjsCircle1705"
                                r="60.40487804878049"
                                cx="90.5"
                                cy="90.5"
                                fill="transparent"
                              ></circle>
                              <g id="SvgjsG1706" class="apexcharts-slices">
                                <g
                                  id="SvgjsG1707"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="Male"
                                  rel="1"
                                  data:realIndex="0"
                                >
                                  <path
                                    id="SvgjsPath1708"
                                    d="M 90.5 4.207317073170728 A 86.29268292682927 86.29268292682927 0 1 1 63.83409448540088 172.56921840615252 L 71.83386613978062 147.94845288430676 A 60.40487804878049 60.40487804878049 0 1 0 90.5 30.09512195121951 L 90.5 4.207317073170728 z"
                                    fill="rgba(49,151,149,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="2"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-0"
                                    index="0"
                                    j="0"
                                    data:angle="198"
                                    data:startAngle="0"
                                    data:strokeWidth="2"
                                    data:value="55"
                                    data:pathOrig="M 90.5 4.207317073170728 A 86.29268292682927 86.29268292682927 0 1 1 63.83409448540088 172.56921840615252 L 71.83386613978062 147.94845288430676 A 60.40487804878049 60.40487804878049 0 1 0 90.5 30.09512195121951 L 90.5 4.207317073170728 z"
                                    stroke="#ffffff"
                                  ></path>
                                </g>
                                <g
                                  id="SvgjsG1709"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="Female"
                                  rel="2"
                                  data:realIndex="1"
                                >
                                  <path
                                    id="SvgjsPath1710"
                                    d="M 63.83409448540088 172.56921840615252 A 86.29268292682927 86.29268292682927 0 0 1 90.48493908570192 4.20731838748344 L 90.48945735999135 30.09512287123841 A 60.40487804878049 60.40487804878049 0 0 0 71.83386613978062 147.94845288430676 L 63.83409448540088 172.56921840615252 z"
                                    fill="rgba(79,209,197,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="2"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-1"
                                    index="0"
                                    j="1"
                                    data:angle="162"
                                    data:startAngle="198"
                                    data:strokeWidth="2"
                                    data:value="45"
                                    data:pathOrig="M 63.83409448540088 172.56921840615252 A 86.29268292682927 86.29268292682927 0 0 1 90.48493908570192 4.20731838748344 L 90.48945735999135 30.09512287123841 A 60.40487804878049 60.40487804878049 0 0 0 71.83386613978062 147.94845288430676 L 63.83409448540088 172.56921840615252 z"
                                    stroke="#ffffff"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                          <line
                            id="SvgjsLine1711"
                            x1="0"
                            y1="0"
                            x2="181"
                            y2="0"
                            stroke="#b6b6b6"
                            stroke-dasharray="0"
                            stroke-width="1"
                            class="apexcharts-ycrosshairs"
                          ></line>
                          <line
                            id="SvgjsLine1712"
                            x1="0"
                            y1="0"
                            x2="181"
                            y2="0"
                            stroke-dasharray="0"
                            stroke-width="0"
                            class="apexcharts-ycrosshairs-hidden"
                          ></line>
                        </g>
                        <g id="SvgjsG1700" class="apexcharts-annotations"></g>
                      </svg>
                      <div class="apexcharts-legend"></div>
                      <div
                        class="apexcharts-tooltip apexcharts-theme-dark"
                        style="left: 9.51562px; top: 6.45312px"
                      >
                        <div class="flex items-center h-8 min-h-8 max-h-8 px-3">
                          <div
                            class="w-3 h-3 rounded-full"
                            style="background-color: #4fd1c5"
                          ></div>
                          <div class="ml-2 text-md leading-none">
                            Unassigned Land
                          </div>
                          <div class="ml-2 text-md font-bold leading-none">
                            24.50%
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="resize-triggers">
                    <div class="expand-trigger">
                      <div style="width: 257px; height: 182px"></div>
                    </div>
                    <div class="contract-trigger"></div></div
                ></apx-chart>
              </div>
              <div class="flex flex-col justify-end text-md px-6 pb-3">
                <div
                  class="flex items-center justify-between py-3 border-b last:border-b-0 ng-star-inserted"
                >
                  <div class="flex items-center w-1/3">
                    <div
                      class="flex-shrink-0 w-2 h-2 mr-3 rounded-full"
                      style="background-color: rgb(49, 151, 149)"
                    ></div>
                    <div class="truncate">Assigned Land</div>
                  </div>
                  <div class="w-1/3 text-right text-secondary">75.50%</div>
                </div>
                <div
                  class="flex items-center justify-between py-3 border-b last:border-b-0 ng-star-inserted"
                >
                  <div class="flex items-center w-1/3">
                    <div
                      class="flex-shrink-0 w-2 h-2 mr-3 rounded-full"
                      style="background-color: rgb(79, 209, 197)"
                    ></div>
                    <div class="truncate">Un-Assigned Land</div>
                  </div>
                  <div class="w-1/3 text-right text-secondary">25.50%</div>
                </div>
                <!---->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div
                class="flex flex-col flex-auto p-6 bg-card rounded shadow-md"
              >
                <center><h4>Assigned &amp; Un-Assigned Land</h4></center>
                <script
                  type="text/javascript"
                  src="https://www.google.com/jsapi"
                ></script>
                <script type="text/javascript">
                  google.load("visualization", "1", {
                    packages: ["corechart"],
                  });
                  google.setOnLoadCallback(drawChart);
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ["Task", "link", "Hours per Day"],
                      ["Assigned Land", "view_all_assign.php", 61.2],
                      ["Un-Assigned Land", "view_all_assign.php", 188.8],
                    ]);

                    var view = new google.visualization.DataView(data);
                    view.setColumns([0, 2]);

                    var chart = new google.visualization.PieChart(
                      document.getElementById("chart_div")
                    );
                    chart.draw(view);

                    var selectHandler = function (e) {
                      window.location = data.getValue(
                        chart.getSelection()[0]["row"],
                        1
                      );
                    };

                    // Add our selection handler.
                    google.visualization.events.addListener(
                      chart,
                      "select",
                      selectHandler
                    );
                  }
                </script>

                <div id="chart_div" style="width: 400px; height: 400px">
                  <div
                    dir="ltr"
                    style="position: relative; width: 400px; height: 400px"
                  >
                    <div
                      aria-label="A chart."
                      style="
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                      "
                    >
                      <svg
                        width="400"
                        height="400"
                        aria-label="A chart."
                        style="overflow: hidden"
                      >
                        <defs id="_ABSTRACT_RENDERER_ID_0"></defs>
                        <g>
                          <rect
                            x="96"
                            y="62"
                            width="309"
                            height="13"
                            stroke="none"
                            stroke-width="0"
                            fill-opacity="0"
                            fill="#d1ad88"
                          ></rect>
                        </g>
                        <g>
                          <rect
                            x="308"
                            y="96"
                            width="97"
                            height="68"
                            stroke="none"
                            stroke-width="0"
                            fill-opacity="0"
                            fill="#d1ad88"
                          ></rect>
                          <g column-id="Assigned Land">
                            <rect
                              x="308"
                              y="96"
                              width="97"
                              height="30"
                              stroke="none"
                              stroke-width="0"
                              fill-opacity="0"
                              fill="#d1ad88"
                            ></rect>
                            <g>
                              <text
                                text-anchor="start"
                                x="326"
                                y="107.05"
                                font-family="Arial"
                                font-size="13"
                                stroke="none"
                                stroke-width="0"
                                fill="#222222"
                              >
                                Assigned
                              </text>
                              <text
                                text-anchor="start"
                                x="326"
                                y="124.05"
                                font-family="Arial"
                                font-size="13"
                                stroke="none"
                                stroke-width="0"
                                fill="#222222"
                              >
                                Land
                              </text>
                            </g>
                            <circle
                              cx="314.5"
                              cy="102.5"
                              r="6.5"
                              stroke="none"
                              stroke-width="0"
                              fill="#3366cc"
                            ></circle>
                          </g>
                          <g column-id="Un-Assigned Land">
                            <rect
                              x="308"
                              y="134"
                              width="97"
                              height="30"
                              stroke="none"
                              stroke-width="0"
                              fill-opacity="0"
                              fill="#d1ad88"
                            ></rect>
                            <g>
                              <text
                                text-anchor="start"
                                x="326"
                                y="145.05"
                                font-family="Arial"
                                font-size="13"
                                stroke="none"
                                stroke-width="0"
                                fill="#222222"
                              >
                                Un-Assigned
                              </text>
                              <text
                                text-anchor="start"
                                x="326"
                                y="162.05"
                                font-family="Arial"
                                font-size="13"
                                stroke="none"
                                stroke-width="0"
                                fill="#222222"
                              >
                                Land
                              </text>
                            </g>
                            <circle
                              cx="314.5"
                              cy="140.5"
                              r="6.5"
                              stroke="none"
                              stroke-width="0"
                              fill="#dc3912"
                            ></circle>
                          </g>
                        </g>
                        <g>
                          <path
                            d="M192,251L192,156A95,95,0,0,1,286.9492984309816,247.89665866131523L192,251A0,0,0,0,0,192,251"
                            stroke="#ffffff"
                            stroke-width="1"
                            fill="#3366cc"
                          ></path>
                          <text
                            text-anchor="start"
                            x="218.772588953001"
                            y="209.2901471179309"
                            font-family="Arial"
                            font-size="13"
                            stroke="none"
                            stroke-width="0"
                            fill="#d1ad88"
                          >
                            24.5%
                          </text>
                        </g>
                        <g>
                          <path
                            d="M192,251L286.9492984309816,247.89665866131523A95,95,0,1,1,192,156L192,251A0,0,0,1,0,192,251"
                            stroke="#ffffff"
                            stroke-width="1"
                            fill="#dc3912"
                          ></path>
                          <text
                            text-anchor="start"
                            x="129.227411046999"
                            y="301.80985288206915"
                            font-family="Arial"
                            font-size="13"
                            stroke="none"
                            stroke-width="0"
                            fill="#d1ad88"
                          >
                            75.5%
                          </text>
                        </g>
                        <g></g>
                      </svg>
                      <div
                        aria-label="A tabular representation of the data in the chart."
                        style="
                          position: absolute;
                          left: -10000px;
                          top: auto;
                          width: 1px;
                          height: 1px;
                          overflow: hidden;
                        "
                      >
                        <table>
                          <thead>
                            <tr>
                              <th>Task</th>
                              <th>Hours per Day</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Assigned Land</td>
                              <td>61.2</td>
                            </tr>
                            <tr>
                              <td>Un-Assigned Land</td>
                              <td>188.8</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div
                    aria-hidden="true"
                    style="
                      display: none;
                      position: absolute;
                      top: 510px;
                      left: 510px;
                      white-space: nowrap;
                      font-family: Arial;
                      font-size: 13px;
                    "
                  >
                    Un-Assigned
                  </div>
                  <div></div>
                </div>
              </div>
              <div id="income" class="m-t-30"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
