<div class="box_main">
  <div
    class="col-md-12 bg-card shadow rounded overflow-hidden"
    style="background-color: #f1f5f9"
  >
    <div class="header_top_btn_new mb-5">
      <div class="row">
        <div class="col-md-8 custom-col-8">
          <div class="breadcrumb">
            <span class="path">Farmer</span><span class="separator">/</span>
            <span class="path">Dashboard</span>
          </div>
          <h1 class="master-heading">Dashboard</h1>
        </div>
      </div>
    </div>
    <div class="card-group" style="padding: 10px; width: 100%">
      <div class="card-body">
        <div class="row">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-green rounded border-l-4 shadow-md overflow-hidden"
          >
            <h5>6</h5>
            <h5 class="card-subtitle">Total Assigned Crop</h5>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="card-body">
        <div class="row">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue rounded border-l-4 shadow-md overflow-hidden"
          >
            <h5>40%</h5>
            <h5 class="card-subtitle">Pending Product</h5>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="card-body">
        <div class="row">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-red rounded border-l-4 shadow-md overflow-hidden"
          >
            <h5>56%</h5>
            <h5 class="card-subtitle">Product A</h5>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="card-body">
        <div class="row">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-purple rounded border-l-4 shadow-md overflow-hidden"
          >
            <h5>26%</h5>
            <h5 class="card-subtitle">Product B</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-white rounded border-l-4 shadow-md overflow-hidden"
          >
            <h5>#3 Days Activities</h5>
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="row-border hover"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Yesterday</th>
                  <th>Today</th>
                  <th>Tomorrow</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Chilli</td>
                  <td>Chilli</td>
                  <td>10 Acre</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Gilki</td>
                  <td>Gilki</td>
                  <td>10 Acre</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Bhindi</td>
                  <td>Bhindi</td>
                  <td>10 Acre</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Spinach/Palak</td>
                  <td>Spinach/Palak</td>
                  <td>10 Acre</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div
              class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-white rounded border-l-4 shadow-md overflow-hidden"
            >
              <h4 class="card-title">
                <a>Alert & Notification</a>
              </h4>

              <div>
                <ul>
                  <Li>Aphid monitoring in tomato Crop</Li>
                  <li>Agricultarist to Talk Report</li>
                  <li>Notfication for Bhindi</li>
                  <li>Notification for Chilli</li>
                  <Li>Aphid monitoring in tomato Crop</Li>
                  <li>Notification for spinach Report</li>
                  <li>Notfication for bhindi</li>
                  <li>Notification for chilli</li>
                  <li>Notification for spinach Report</li>
                  <li>Notfication for bhindi</li>
                </ul>
                <a href="#" class="nav-toggle">Read More</a>

                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
                  <div
                    class="ps-scrollbar-x"
                    tabindex="0"
                    style="left: 0px; width: 0px"
                  ></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px">
                  <div
                    class="ps-scrollbar-y"
                    tabindex="0"
                    style="top: 0px; height: 0px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col">
          <div class="card">
            <div
              class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-white rounded border-l-4 shadow-md overflow-hidden"
            >
              <center><h5>Assigned Crop</h5></center>

              <div class="table-responsive">
                <table
                  id="default_order"
                  class="table table-striped table-bordered display"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Crop</th>
                      <th>Date</th>
                      <th>Plot Name</th>
                      <th>Area</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Carrot/Gajar<span style="color: #f08080"
                          >(Red/Orange)<span></span
                        ></span>
                      </td>
                      <td>26-09-2019</td>
                      <td>Plot4</td>
                      <td>10 Acers</td>
                    </tr>
                    <tr>
                      <td>
                        Spinach/Palak<span style="color: #f08080"
                          >(Spinach/Palak)<span></span
                        ></span>
                      </td>
                      <td>27-09-2019</td>
                      <td>Plot4</td>
                      <td>20 Acers</td>
                    </tr>
                    <tr>
                      <td>
                        Bhindi<span style="color: #f08080"
                          >(Bhindi)<span></span
                        ></span>
                      </td>
                      <td>30-09-2019</td>
                      <td>Plot2</td>
                      <td>11 Acers</td>
                    </tr>

                    <tr>
                      <td>
                        Tomato<span style="color: #f08080"
                          >(Tomato)<span></span
                        ></span>
                      </td>
                      <td>30-09-2019</td>
                      <td>Plot2</td>
                      <td>11 Acers</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div
              class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-white rounded border-l-4 shadow-md overflow-hidden"
              style="height: 555px"
            >
              <div class="table-responsive">
                <center>
                  <h4>
                    You Need These Materials For Next<br />
                    #7 Days
                  </h4>
                </center>

                <table
                  id="default_order"
                  class="table table-striped table-bordered display"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Crop</th>
                      <th>Material</th>
                      <th>Quantity</th>
                      <!-- <th>Frequency</th>-->
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-white rounded border-l-4 shadow-md overflow-hidden"
          >
            <div class="table-responsive">
              <table
                id="default_order"
                class="table table-striped table-bordered display"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Pick Up</th>
                    <th>Show All</th>
                    <th>Create</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-white rounded border-l-4 shadow-md overflow-hidden"
          >
            <div
              class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden"
            >
              <div class="flex flex-col p-4 pl-6">
                <div class="flex items-center justify-between">
                  <div
                    class="font-bold text-md text-secondary uppercase tracking-wider"
                  >
                    Un-assigned or Assigned Land
                  </div>
                  <div>
                    <button
                      aria-haspopup="true"
                      mat-button=""
                      class="mat-focus-indicator mat-menu-trigger h-8 min-h-8 px-2 mat-button mat-button-base"
                    >
                      <span
                        matripple=""
                        class="mat-ripple mat-button-ripple"
                      ></span
                      ><span class="mat-button-focus-overlay"></span></button
                    ><!----><mat-menu class="ng-tns-c50-45"><!----></mat-menu>
                  </div>
                </div>
              </div>
              <div class="flex flex-col flex-auto px-6 pb-6">
                <apx-chart
                  class="flex flex-auto items-center justify-center w-full h-full"
                  _nghost-yww-c158=""
                  style="position: relative"
                  ><div _ngcontent-yww-c158="" style="min-height: 177.9px">
                    <div
                      id="apexchartsm9zi4j2t"
                      class="apexcharts-canvas apexchartsm9zi4j2t apexcharts-theme-light"
                      style="width: 256px; height: 177.9px"
                    >
                      <svg
                        id="SvgjsSvg2558"
                        width="256"
                        height="177.9"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs"
                        class="apexcharts-svg"
                        xmlns:data="ApexChartsNS"
                        transform="translate(0, 0)"
                        style="background: transparent"
                      >
                        <g
                          id="SvgjsG2560"
                          class="apexcharts-inner apexcharts-graphical"
                          transform="translate(37.5, 0)"
                        >
                          <defs id="SvgjsDefs2559">
                            <clipPath id="gridRectMaskm9zi4j2t">
                              <rect
                                id="SvgjsRect2562"
                                width="187"
                                height="183"
                                x="-3"
                                y="-1"
                                rx="0"
                                ry="0"
                                opacity="1"
                                stroke-width="0"
                                stroke="none"
                                stroke-dasharray="0"
                                fill="#fff"
                              ></rect>
                            </clipPath>
                            <clipPath id="gridRectMarkerMaskm9zi4j2t">
                              <rect
                                id="SvgjsRect2563"
                                width="185"
                                height="185"
                                x="-2"
                                y="-2"
                                rx="0"
                                ry="0"
                                opacity="1"
                                stroke-width="0"
                                stroke="none"
                                stroke-dasharray="0"
                                fill="#fff"
                              ></rect>
                            </clipPath>
                          </defs>
                          <g id="SvgjsG2564" class="apexcharts-pie">
                            <g
                              id="SvgjsG2565"
                              transform="translate(0, 0) scale(1)"
                            >
                              <circle
                                id="SvgjsCircle2566"
                                r="60.40487804878049"
                                cx="90.5"
                                cy="90.5"
                                fill="transparent"
                              ></circle>
                              <g id="SvgjsG2567" class="apexcharts-slices">
                                <g
                                  id="SvgjsG2568"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="NonxEnglish"
                                  rel="1"
                                  data:realIndex="0"
                                >
                                  <path
                                    id="SvgjsPath2569"
                                    d="M 90.5 4.207317073170728 A 86.29268292682927 86.29268292682927 0 1 1 4.207317073170728 90.50000000000001 L 30.09512195121951 90.50000000000001 A 60.40487804878049 60.40487804878049 0 1 0 90.5 30.09512195121951 L 90.5 4.207317073170728 z"
                                    fill="rgba(128,90,213,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="2"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-0"
                                    index="0"
                                    j="0"
                                    data:angle="270"
                                    data:startAngle="0"
                                    data:strokeWidth="2"
                                    data:value="75"
                                    data:pathOrig="M 90.5 4.207317073170728 A 86.29268292682927 86.29268292682927 0 1 1 4.207317073170728 90.50000000000001 L 30.09512195121951 90.50000000000001 A 60.40487804878049 60.40487804878049 0 1 0 90.5 30.09512195121951 L 90.5 4.207317073170728 z"
                                    stroke="#ffffff"
                                  ></path>
                                </g>
                                <g
                                  id="SvgjsG2570"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="English"
                                  rel="2"
                                  data:realIndex="1"
                                >
                                  <path
                                    id="SvgjsPath2571"
                                    d="M 4.207317073170728 90.50000000000001 A 86.29268292682927 86.29268292682927 0 0 1 90.48493908570192 4.20731838748344 L 90.48945735999135 30.09512287123841 A 60.40487804878049 60.40487804878049 0 0 0 30.09512195121951 90.50000000000001 L 4.207317073170728 90.50000000000001 z"
                                    fill="rgba(183,148,244,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="2"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-1"
                                    index="0"
                                    j="1"
                                    data:angle="90"
                                    data:startAngle="270"
                                    data:strokeWidth="2"
                                    data:value="25"
                                    data:pathOrig="M 4.207317073170728 90.50000000000001 A 86.29268292682927 86.29268292682927 0 0 1 90.48493908570192 4.20731838748344 L 90.48945735999135 30.09512287123841 A 60.40487804878049 60.40487804878049 0 0 0 30.09512195121951 90.50000000000001 L 4.207317073170728 90.50000000000001 z"
                                    stroke="#ffffff"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                          <line
                            id="SvgjsLine2572"
                            x1="0"
                            y1="0"
                            x2="181"
                            y2="0"
                            stroke="#b6b6b6"
                            stroke-dasharray="0"
                            stroke-width="1"
                            class="apexcharts-ycrosshairs"
                          ></line>
                          <line
                            id="SvgjsLine2573"
                            x1="0"
                            y1="0"
                            x2="181"
                            y2="0"
                            stroke-dasharray="0"
                            stroke-width="0"
                            class="apexcharts-ycrosshairs-hidden"
                          ></line>
                        </g>
                        <g id="SvgjsG2561" class="apexcharts-annotations"></g>
                      </svg>
                      <div class="apexcharts-legend"></div>
                      <div
                        class="apexcharts-tooltip apexcharts-theme-dark"
                        style="left: 54.2422px; top: 118.453px"
                      >
                        <div class="flex items-center h-8 min-h-8 max-h-8 px-3">
                          <div
                            class="w-3 h-3 rounded-full"
                            style="background-color: #805ad5"
                          ></div>
                          <div class="ml-2 text-md leading-none">
                            Non-English:
                          </div>
                          <div class="ml-2 text-md font-bold leading-none">
                            75%
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="resize-triggers">
                    <div class="expand-trigger">
                      <div style="width: 257px; height: 182px"></div>
                    </div>
                    <div class="contract-trigger"></div></div
                ></apx-chart>
              </div>
              <div class="flex flex-col justify-end text-md px-6 pb-3">
                <div
                  class="flex items-center justify-between py-3 border-b last:border-b-0 ng-star-inserted"
                >
                  <div class="flex items-center w-1/3">
                    <div
                      class="flex-shrink-0 w-2 h-2 mr-3 rounded-full"
                      style="background-color: rgb(128, 90, 213)"
                    ></div>
                    <div class="truncate">Assigned</div>
                  </div>
                  <div class="w-1/3 text-right text-secondary">75%</div>
                </div>
                <div
                  class="flex items-center justify-between py-3 border-b last:border-b-0 ng-star-inserted"
                >
                  <div class="flex items-center w-1/3">
                    <div
                      class="flex-shrink-0 w-2 h-2 mr-3 rounded-full"
                      style="background-color: rgb(183, 148, 244)"
                    ></div>
                    <div class="truncate">Un-Assigned</div>
                  </div>
                  <div class="w-1/3 text-right text-secondary">25%</div>
                </div>
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this)
        .siblings(".custom-file-label")
        .addClass("selected")
        .html(fileName);
    });
  </script>
</div>
